*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 14px;
}
body {
    font-family: 'Rubik', sans-serif;
    color: rgb(145, 148, 150);
}
h2{
    margin: 30px 0 10px 0;
    font-size: 1.2rem;
}
h4{
    margin: 10px 0;
    font-size: 1.0rem;
    color:white;
}

p{
    padding-bottom:10px;
}
ul{
    list-style:none;
}
a {
    text-decoration:none;
    color: rgb(145, 148, 150);
    transition: all 0.2s;
}
.text-color-white{
    color:white;
}

.ms-wrapper {
    height: calc(100vh - 90px);
    overflow: hidden;
}
.clearfix::after{
    content:"";
    display: table;
    clear:both;
}


/* Aside */
/* Section Menu Aside Top +Logo */
.ms-menu-bar-left{
    width:200px;
    height:100%;
    float:left;
    padding: 0 10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: black;
}

.ms-logo-big {
    width: 150px;
    padding:10px 0 20px 0;
}
.ms-logo-small {
    display:none;
}

.ms-home-menu-container-logo,
.ms-home-menu-container,
.ms-account-details {
    position:relative;
    display: flex;
    align-items: center;
    padding: 5px;
}
.ms-home-menu-container img{
    width:25px;
}
.ms-home-menu-container a{
    margin-left: 5px;
    cursor:pointer;
}

.ms-home-menu-container:hover {
    color:white;
}


/* Playlists */
h5 {
    margin:20px 0px 10px 5px;
    text-transform: uppercase;
    font-size: 1.0rem;
}
.ms-create-playlist-account {
    height:100%;
    overflow-y: auto;
}
.ms-playlist>li{
    padding: 5px;
    position:relative;
    transition: all 0.2s;
}

.ms-home-menu-container::before,
.ms-playlist>li::before{
    content: "";
    background: yellowgreen;
    width: 2px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity:0;
}

.ms-home-menu-container:hover::before,
.ms-playlist>li:hover::before{
   opacity:1;
}


.ms-playlist>li:hover a {
    color: white;
    cursor: pointer;
}
.ms-playlist>li:first-child{
   display:flex;
   align-items: center;
}
.ms-playlist .fa-plus {
    padding: 5px;
    background-color: rgb(145, 148, 150);
    margin-right: 10px;
    color: black;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.ms-playlist>li:first-child:hover .fa-plus {
    background-color:white;
}


/* Menu Aside Bottom - My Account */
.ms-account-details .ms-profile {
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color:rgb(145, 148, 150);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.ms-account-details .ms-download {
    width: 25px;
    color: rgb(145, 148, 150);
}
.ms-account-details p,
.ms-account-details a{
    margin-left: 5px;
}
.ms-account-details a:hover {
    color:white;
}

.ms-menu-bottom hr{
    color: rgb(145, 148, 150);
    border-bottom: 0px;
    margin:5px 0;
}


/* Main - Section Menu */
.ms-menu-content {
    background-color:  #141922;
}
.ms-menu-content>ul {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.ms-menu-content>ul>li{
    position:relative;
    padding: 5px 10px;
    text-transform: uppercase;
    line-height:30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.ms-menu-content>ul>li:hover a{
    color:white;
}
.ms-menu-content>ul>li:hover .ms-bottom-line-hover::after {
    content: "";
    background: yellowgreen;
    width: 40%;
    height: 2px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


/* Main Content */
main {
    position:relative;
    height:100%;
    width: calc(100% - 200px);
    float: left;
    background-color: #141922;
}

.ms-spotify-main-content {
    height:100%;
    overflow-y: auto;
    padding: 0 15px;
}

.ms-container-playlist-row{
    display: flex;
    justify-content: flex-start;
}

.ms-container-playlist-row img {
    width:100%;
}

.ms-sub-container-playlist-column {
    width: calc((100% / 6) - 10px);
    /* flex-basis:160px; */
    text-align:center;
    margin:10px 10px 10px 0;
}


.ms-img-container {
    position:relative;

}
.ms-cover-play {
    display:none;
    width:100%;
    height:98%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.575);
}

.ms-cover-play>.fa-play-circle{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color:white;
}

.ms-img-container:hover .ms-cover-play{
    display:block;
}

.ms-border-radius {
    border-radius: 50%;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ms-upgrade-button {
    position:fixed;
    top:0;
    right:0;
    width:calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.438);
    text-align:right;
}
.btn {
    margin: 15px;
    padding: 8px 25px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    font-size: 0.8rem;
    color:white;
    text-transform: uppercase;
    transition: all 0.2s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:90px;
    background-color:#282828;
}

.ms-footer-left,
.ms-footer-right {
    width: 200px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ms-footer-left i,
.ms-footer-right i{
    display: inline-block;
    padding: 5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ms-footer-left i:hover,
.ms-footer-right i:hover {
    color: white;
}
.ms-footer-center {
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ms-visible{
    /* position:relative; */
    width: 60%;
    height: 4px;
    border: 1px solid rgb(145, 148, 150);
    background-color:rgb(145, 148, 150);
}
.ms-hidden{
    position:relative;
    width: 40%;
    height:3px;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-align: left;
}

.ms-circle{
    display: none;
    position: absolute;
    top: 40%;
    right: 00;
    transform: translateY(-50%);
    font-size: 20px;
    transition: all 0.5s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ms-hidden:hover{
    background-color: greenyellow;
    
}
.ms-hidden:hover .ms-circle{
    display:block;
    color: white;
}

/* Footer Left */
.ms-footer-left img {
    height:60px;
    padding: 10px 0 10px 10px;
}

.ms-footer-left h6,
.ms-footer-left p {
    font-size: 0.8rem;
    padding: 0 10px;
}
.ms-currently-playing-title {
    flex-grow:1;
}

/* Footer Right */
.ms-footer-right{
    padding-right:5px;
}


/* Footer Center */
.ms-music-buttons,
.ms-time-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-music-buttons i{
    display: inline-block;
    margin: 5px 10px;
    color: white;
}
.ms-time {
    color: white;
    padding: 10px;
    font-size: 10px;
}



/* Media Queries */
@media all and (max-width: 992px){

    .ms-container-playlist-row{
        flex-wrap: wrap;
    }

}

@media all and (max-width: 768px){
    .ms-sub-container-playlist-column {
        /* flex-basis: 150px; */
        width: calc((100% / 4) - 10px);
    }

}

@media all and (max-width: 576px) {

    main{
        width: calc(100% - 50px);
    }
    .ms-home-menu-container,
    .ms-account-details{
        justify-content:center;

    }
    .ms-menu-bar-left {
        width: 50px;
        align-items: center;
    }
    .ms-upgrade-button {
        width:calc(100% - 50px);
    }

    .ms-logo-small{
        display:block;
        width: 25px;
        margin:10px 0;
    }

    .ms-hide-responsive {
        display:none;
    }


    .ms-sub-container-playlist-column {
        /* flex-basis: 135px; */
        width: calc((100% / 2) - 10px);
    }

    .ms-saved,
    .ms-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .ms-footer-left,
    .ms-footer-right {
        width: 28%;
    }
    .ms-footer-left img {
        height:50px;
        padding: 10px 0 10px 10px;
    }
    .ms-music-buttons i {
        margin: 5px 5px;
    }
}

@media all and (max-width: 399px) {
    html{
        font-size: 11px;
    }
    .ms-container-playlist-row{
        justify-content: space-between;
    }
    .ms-sub-container-playlist-column {
        /* flex-basis: 110px; */
        width: calc((100% / 2) - 10px);
    }

    .ms-music-buttons i {
        margin: 5px 5px;
    }

    .ms-footer-left img{
        display: none;
    }
}



