*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    font-family: 'Rubik', sans-serif;
    color: rgb(145, 148, 150);
}
ul{
    list-style:none;
}
a {
    text-decoration:none;
    color: rgb(145, 148, 150);
}
.text-color-white{
    color:white;
}

.ms-wrapper {
    height: calc(100vh - 90px);
    overflow: hidden;
}
.clearfix::after{
    content:"";
    display: table;
    clear:both;
}


/* Debug */
aside {
    background-color: black;
}

header {
    height:50px;
    background-color: green;
}

footer{
    width: 100%;
    height:90px;
    background-color:pink;
}




/* Menu Aside */
.ms-menu-bar-left{
    width:200px;
    height:100%;
    float:left;
    padding: 0 10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}

.ms-home-menu-container>.ms-logo-big {
    width: 150px;
    padding:10px 0 20px 0;
}
.ms-logo-small {
    display:none;
}

.ms-home-menu-container,
.ms-account-details {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.ms-home-menu-container img{
    width:25px;
}
.ms-home-menu-container a{
    margin-left: 5px;
    cursor:pointer;
}

.ms-home-menu-container a:hover{
    color:white;
}

h4 {
    margin-top:20px;
    margin-bottom:10px;
    text-transform: uppercase; 
}

.ms-playlist>li{
    padding: 5px 0;
}

.ms-playlist>li:hover a{
    color: white;
    cursor: pointer; 
}
.ms-playlist>li:first-child{
   display:flex;
   align-items: center;
}
.ms-playlist .fa-plus {
    width:25px;
    height:25px;
    padding: 5px;
    background-color: rgb(145, 148, 150);
    margin-right: 10px;
    color: black;
}

.ms-account-details .ms-profile {
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color:rgb(145, 148, 150);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.ms-account-details .ms-download {
    width: 25px;
    color: rgb(145, 148, 150);
}

.ms-account-details p,
.ms-account-details a{
    margin-left: 5px;
}

.ms-menu-bottom hr{
    color: rgb(145, 148, 150);
    border-bottom: 0px;
    margin:5px 0;
}







/* Main Content */
main {
    position:relative;
    height:100%;
    width: calc(100% - 200px);
    float: left;
}
.ms-spotify-main-content {
    height:100%;
    overflow-y: auto;
}

.ms-upgrade-button {
    position:fixed;
    top:0;
    right:0;
    width:calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.171);
    text-align:right;
}


.btn {
    margin: 10px;
}



/* Media Queries */
@media all and (max-width: 767px) {
    main{
        width: calc(100% - 50px);
    }

    .ms-home-menu-container,
    .ms-account-details{
        justify-content:center;

    }
    .ms-menu-bar-left {
        width: 50px;
        align-items: center;
    }
    .ms-upgrade-button {
        width:calc(100% - 50px);
    }

    .ms-logo-small{
        display:block;
        width: 25px;
        margin:10px 0;
    }

    .ms-hide-responsive {
        display:none;
    }
}