*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    font-family: 'Rubik', sans-serif;
    color: rgb(145, 148, 150);
}
ul{
    list-style:none;
}

.ms-wrapper {
    height: calc(100vh - 90px);
    overflow: hidden;
}
.clearfix::after{
    content:"";
    display: table;
    clear:both;
}


/* Debug */
aside {
    background-color: black;
}

header {
    height:50px;
    background-color: green;
}

footer{
    width: 100%;
    height:90px;
    background-color:pink;
}




/* Menu Aside */
.ms-menu-bar-left{
    width:200px;
    height:100%;
    float:left;
    padding-left:15px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.ms-home-menu-container{
    display: flex;
    align-items: center;

}
.ms-home-menu-container img{
    width:25px;
}

.ms-logo-big {
    width: 150px;
    padding:10px 0 20px 0;
}
.ms-logo-small {
    display:none;
}





/* Main Content */
main {
    position:relative;
    height:100%;
}
.ms-spotify-main-content {
    height:100%;
    overflow-y: auto;
}

.ms-upgrade-button {
    position:fixed;
    top:0;
    right:0;
    width:calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.171);
    text-align:right;
}


.btn {
    margin: 10px;
}



/* Media Queries */
@media all and (max-width: 767px) {
    .ms-menu-bar-left {
        width: 50px;
    }
    .ms-upgrade-button {
        width:calc(100% - 50px);
    }

    .ms-logo-small{
        display:block;
        width: 25px;
        margin:10px 0 20px 0;
    }

    .ms-hide-responsive {
        display:none;
    }
}